.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.hidden-text {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #283645;
}
h1 {
  font-size: 24px;
  font-weight: 300;
}
table td {
  border: 1px solid #e5e5e5;
  padding: 20px;
  position: relative;
  font-size: 14px;
  font-weight: 400;
}
.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 320px) {
  .container {
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media (min-width: 700px) {
  .container {
    max-width: 1020px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.btn {
  display: inline-block;
  padding: 10px 14px;
  margin: 0 auto;
  border: 4px solid #fff;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}
.page-header {
  background: #1d2631 url("../img/header-bg-xs.jpg") top center no-repeat;
  height: 730px;
}
@media (min-width: 320px) {
  .page-header {
    background: #1d2631 url("../img/header-bg-sm.jpg") top center no-repeat;
  }
}
@media (min-width: 700px) {
  .page-header {
    background: #1d2631 url("../img/header-bg-md.jpg") top center no-repeat;
    background-size: cover;
    height: 854px;
  }
}
@media (min-width: 1200px) {
  .page-header {
    background: #1d2631 url("../img/header-bg-lg.jpg") top center no-repeat;
    background-size: cover;
  }
}
.page-header__top {
  background: rgba(0, 0, 0, 0.3);
}
.page-header__menu {
  position: relative;
  min-height: 66px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 700px) {
  .page-header__menu {
    height: 110px;
  }
}
.page-header__toggle {
  display: block;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  width: 50px;
  height: 24px;
  background: url(../img/main-nav-menu-toggle.png) no-repeat;
  cursor: pointer;
}
.page-header__toggle:hover {
  fill: #d22856;
}
.page-header__toggle:active {
  fill: #6f3650;
}
@media (min-width: 1200px) {
  .page-header__toggle {
    display: none;
  }
}
.page-header__logo-link {
  width: 74px;
  height: 23px;
  background: url("../img/header-logo-1.svg");
}
.page-header__logo-link:hover {
  background: url("../img/header-logo-1-hover.svg");
}
.page-header__logo-link:active {
  background: url("../img/header-logo-1-active.svg");
}
@media (min-width: 700px) {
  .page-header__logo-link {
    background: url("../img/header-logo-2.png");
    width: 145px;
    height: 40px;
    margin-bottom: 12px;
  }
  .page-header__logo-link:hover {
    background: url("../img/header-logo-2-hover.png");
  }
  .page-header__logo-link:active {
    background: url("../img/header-logo-2-active.png");
  }
}
@media (min-width: 1200px) {
  .page-header__logo-link {
    background: url("../img/header-logo-3.png");
    width: 146px;
    height: 40px;
  }
  .page-header__logo-link:hover {
    background: url("../img/header-logo-2-hover.png") no-repeat;
  }
  .page-header__logo-link:active {
    background: url("../img/header-logo-2-active.png") no-repeat;
  }
}
.page-header .promo {
  color: #fff;
  text-align: center;
  min-height: 662px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 700px) {
  .page-header .promo {
    height: 743px;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    background: url("../img/download-hand-sm.png") 70% 100% no-repeat;
  }
}
@media (min-width: 1200px) {
  .page-header .promo {
    background: url("../img/download-hand-md.png") 70% 100% no-repeat;
  }
}
.page-header .promo__hand {
  width: 320px;
  height: 285px;
  background: url("../img/download-hand-xs.png") no-repeat;
}
@media (min-width: 700px) {
  .page-header .promo__hand {
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    background: rgba(0, 0, 0, 0);
  }
}
.page-header .promo__text {
  width: 222px;
  margin: 20px 0 15px 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
@media (min-width: 700px) {
  .page-header .promo__text {
    margin: 0 auto;
    font-size: 40px;
    line-height: 1.3;
  }
}
@media (min-width: 1200px) {
  .page-header .promo__text {
    margin: 0 auto;
    font-size: 50px;
  }
}
.page-header .promo .download {
  z-index: 5;
  padding-top: 30px;
  text-align: center;
  min-height: 271px;
  background: #1d2631;
  color: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.page-header .promo .download__os-list {
  width: 100%;
  margin-top: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-header .promo .download__os-list--item {
  margin-right: 25px;
  z-index: 11;
}
.page-header .promo .download__os-list--item:last-child {
  margin-right: 0;
}
.page-header .promo .download .btn {
  display: block;
  text-align: center;
}
.page-header .promo .download .btn:hover {
  background: #fff;
  color: #d22856;
}
.page-header .promo .download .btn:active {
  color: #f2ced5;
}
@media (min-width: 700px) {
  .page-header .promo .download .btn {
    font-size: 21px;
    padding: 10px 40px;
    margin-bottom: 35px;
  }
}
.page-header .promo .download__options {
  margin-top: 15px;
}
@media (min-width: 700px) {
  .page-header .promo .download__options {
    padding: 30px 10px 0;
    max-width: 300px;
  }
}
@media (min-width: 500px) {
  .page-header .promo .download {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (min-width: 700px) {
  .page-header .promo .download {
    background: rgba(0, 0, 0, 0);
    width: 50%;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 700px) {
  .page-header .promo {
    font-size: 18px;
  }
}
.main-nav {
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -400px;
  left: 0;
}
.main-nav ul {
  list-style-type: none;
}
@media (min-width: 1200px) {
  .main-nav {
    top: 0;
    left: 45%;
    width: 620px;
  }
  .main-nav ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 43px 20px;
  }
  .main-nav ul li a {
    font-size: 18px;
    line-height: 18px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .main-nav ul li a:hover {
    border-bottom: 2px solid #fff;
  }
  .main-nav ul li a:active {
    color: #82888e;
    border-bottom: none;
  }
}
#toggle-menu {
  position: absolute;
  opacity: 0;
}
#toggle-menu:checked ~ .main-nav {
  top: 50px;
  z-index: 101;
}
@media (min-width: 700px) {
  #toggle-menu:checked ~ .main-nav {
    top: 94px;
  }
}
#toggle-menu:checked ~ .main-nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #283645;
  padding-left: 0px;
}
#toggle-menu:checked ~ .main-nav ul li {
  width: 100%;
  text-align: center;
  display: block;
  padding: 25px;
  font-size: 30px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #485461;
}
#toggle-menu:checked ~ .main-nav ul li:nth-child(1) {
  border-top: none;
}
#toggle-menu:checked ~ .main-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
#toggle-menu:checked ~ .main-nav ul li a:hover {
  color: #d22856;
}
#toggle-menu:checked ~ .main-nav ul li a:active {
  color: #6f3650;
}
.features {
  background: #f2f2f2;
  text-align: center;
  position: relative;
  min-height: 1000px;
}
.features:before {
  content: "";
  position: absolute;
  top: 150px;
  -webkit-transform: skewY(-5deg);
      -ms-transform: skewY(-5deg);
          transform: skewY(-5deg);
  left: 0px;
  height: 95px;
  width: 100%;
  background: #fff;
}
@media (min-width: 700px) {
  .features:before {
    top: 100px;
    -webkit-transform: skewY(-4deg);
        -ms-transform: skewY(-4deg);
            transform: skewY(-4deg);
    height: 180px;
  }
}
@media (min-width: 1200px) {
  .features:before {
    top: 150px;
    -webkit-transform: skewY(-3.5deg);
        -ms-transform: skewY(-3.5deg);
            transform: skewY(-3.5deg);
  }
}
.features__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.features__heading {
  background: #fff;
  padding: 45px 0 20px;
  position: relative;
}
.features__heading h1 {
  font-weight: 300;
  font-size: 24px;
  margin: 0 auto;
  line-height: 1.3;
  max-width: 240px;
}
.features__heading h1:first-child {
  margin-bottom: 20px;
}
@media (min-width: 700px) {
  .features__heading h1 {
    font-size: 40px;
    max-width: 100%;
  }
  .features__heading h1:first-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .features__heading h1 {
    font-size: 50px;
  }
}
.features__row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 785px;
  padding-top: 40px;
}
@media (min-width: 700px) {
  .features__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    height: 525px;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .features__row {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    height: 600px;
  }
}
.features__item {
  font-size: 14px;
}
.features__item h3 {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.features__item p {
  font-weight: 400;
}
@media (min-width: 700px) {
  .features__item {
    text-align: left;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .features__item {
    text-align: center;
  }
  .features__item h3 {
    margin-top: 65px;
    font-size: 30px;
    line-height: 30px;
    padding: 0 35px;
  }
  .features__item p {
    font-size: 18px;
    line-height: 30px;
    padding: 0 35px;
  }
  .features__item::before {
    content: "";
    display: block;
    width: 300px;
    height: 302px;
  }
  .features__item:nth-child(1)::before {
    background: url(../img/features-image-md-1.png);
  }
  .features__item:nth-child(2)::before {
    background: url(../img/features-image-md-2.png);
  }
  .features__item:nth-child(3)::before {
    background: url(../img/features-image-md-3.png);
  }
}
.features__image-xs {
  margin: 0 auto;
  width: 157px;
  height: auto;
}
@media (min-width: 700px) {
  .features__image-xs {
    display: none;
  }
}
.features__image-sm {
  display: none;
}
@media (min-width: 700px) {
  .features__image-sm {
    display: block;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    width: 268px;
    height: 484px;
  }
}
@media (min-width: 1200px) {
  .features__image-sm {
    display: none;
  }
}
.research {
  text-align: left;
  display: none;
  font-weight: 400;
}
.research__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.research__img {
  width: 264px;
  height: 303px;
}
.research__text {
  padding: 0 0 0 50px;
}
.research__text h2 {
  font-weight: 700;
  font-size: 30px;
  color: #000;
}
.research__text a {
  color: #d22856;
}
.research__text a:hover {
  text-decoration: none;
}
@media (min-width: 1200px) {
  .research__text {
    padding: 0 46px 0 66px;
  }
}
@media (min-width: 700px) {
  .research {
    display: block;
    padding-top: 90px;
    padding-bottom: 90px;
    background: #fff;
  }
}
@media (min-width: 1200px) {
  .research {
    background: #f2f2f2;
    font-size: 18px;
  }
  .research__img {
    width: 301px;
    height: 346px;
  }
}
.reviews {
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  overflow: hidden;
}
.reviews__quotes {
  display: none;
}
@media (min-width: 1200px) {
  .reviews__quotes {
    display: inline-block;
    margin-top: 70px;
    margin-bottom: 20px;
    fill: #f2f2f2;
  }
}
.reviews-slider {
  overflow: hidden;
  position: relative;
  min-height: 350px;
}
@media (min-width: 700px) {
  .reviews-slider {
    min-height: 320px;
  }
}
.reviews-slider input {
  position: absolute;
  opacity: 0;
}
.reviews-slider__controls {
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  bottom: 46px;
}
.reviews-slider__controls label {
  display: inline-block;
  cursor: pointer;
  width: 12px;
  height: 12px;
  background: #bec2c7;
  border-radius: 50%;
  vertical-align: middle;
  border: 3px solid #fff;
  margin-right: 16px;
}
.reviews-slider__controls label:hover {
  background: #7e868f;
}
.reviews-slider__controls label:active {
  background: #e9ebec;
}
.reviews-slider__items {
  max-width: 350px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 700px) {
  .reviews-slider__items {
    max-width: 100%;
  }
}
.reviews-slider__item {
  z-index: 100;
  overflow: auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 250%;
  width: 100%;
  font-size: 14px;
}
.reviews-slider__item h3 {
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
  margin: 50px 0 0px;
  font-size: 18px;
  color: #000;
}
.reviews-slider__item h4 {
  display: none;
  font-size: 14px;
  font-weight: 400;
}
@media (min-width: 700px) {
  .reviews-slider__item {
    padding: 0;
  }
  .reviews-slider__item p {
    font-size: 18px;
  }
  .reviews-slider__item h3 {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    font-size: 20px;
    margin: 15px 0 0;
  }
  .reviews-slider__item h4 {
    margin-top: 8px;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .reviews-slider__item h3 {
    font-size: 24px;
    margin-top: 20px;
  }
  .reviews-slider__item h4 {
    font-size: 18px;
  }
}
.reviews-slider #slider-trigger-1:checked ~ .reviews-slider__controls label[for="slider-trigger-1"],
.reviews-slider #slider-trigger-2:checked ~ .reviews-slider__controls label[for="slider-trigger-2"],
.reviews-slider #slider-trigger-3:checked ~ .reviews-slider__controls label[for="slider-trigger-3"] {
  background: #fff;
  border: 3px solid #283645;
}
.reviews-slider #slider-trigger-1:checked ~ .reviews-slider__items .reviews-slider__item:nth-child(1),
.reviews-slider #slider-trigger-2:checked ~ .reviews-slider__items .reviews-slider__item:nth-child(2),
.reviews-slider #slider-trigger-3:checked ~ .reviews-slider__items .reviews-slider__item:nth-child(3) {
  left: 0;
  transition: left .7s;
}
.price {
  background: #f2f2f2;
  min-height: 470px;
  overflow: hidden;
  position: relative;
}
.price::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 140px;
  background: #fff;
  top: -120px;
  left: 0;
  z-index: 201;
  -webkit-transform: skewY(-3deg);
      -ms-transform: skewY(-3deg);
          transform: skewY(-3deg);
}
@media (min-width: 700px) {
  .price::before {
    top: -110px;
  }
}
@media (min-width: 1200px) {
  .price::before {
    top: -80px;
  }
}
.price__inner {
  width: 100%;
}
@media (min-width: 700px) {
  .price__inner {
    max-width: 1020px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
.price-table {
  min-height: 280px;
  text-transform: uppercase;
}
.price-table input {
  position: absolute;
  opacity: 0;
}
.price-table__controls {
  z-index: 201;
  position: absolute;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  bottom: 35px;
}
@media (min-width: 700px) {
  .price-table__controls {
    left: -100px;
  }
}
.price-table__controls label {
  display: inline-block;
  cursor: pointer;
  width: 12px;
  height: 12px;
  background: #bec2c7;
  border-radius: 50%;
  vertical-align: middle;
  border: 3px solid #f2f2f2;
  margin-right: 16px;
}
.price-table__controls label:hover {
  background: #7e868f;
}
.price-table__controls label:active {
  background: #e9ebec;
}
.price-table #price-trigger-1:checked ~ .price-table__controls label[for="price-trigger-1"],
.price-table #price-trigger-2:checked ~ .price-table__controls label[for="price-trigger-2"],
.price-table #price-trigger-3:checked ~ .price-table__controls label[for="price-trigger-3"] {
  background: #fff;
  border: 3px solid #283645;
}
.price-table #price-trigger-1:checked ~ .price-table__inner {
  left: 5px;
  transition: left .8s;
}
.price-table #price-trigger-2:checked ~ .price-table__inner {
  left: -240px;
  transition: left .8s;
}
.price-table #price-trigger-3:checked ~ .price-table__inner {
  left: -525px;
  transition: left .8s;
}
.price-table__inner {
  padding-top: 90px;
  padding-bottom: 100px;
  position: absolute;
  left: -260px;
}
@media (min-width: 700px) {
  .price-table__inner {
    padding-bottom: 70px;
    position: static;
  }
}
@media (min-width: 1200px) {
  .price-table__inner {
    padding-bottom: 100px;
    padding-top: 150px;
  }
}
.price-table__name {
  font-size: 18px;
  font-weight: 700;
}
@media (min-width: 700px) {
  .price-table__name {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .price-table__name {
    font-size: 18px;
  }
}
.price-table__price {
  font-size: 24px;
  font-weight: 300;
}
@media (min-width: 700px) {
  .price-table__price {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .price-table__price {
    font-size: 24px;
  }
}
.price-table__content {
  width: 840px;
  overflow: hidden;
  background: #fff;
}
.price-table__content td {
  width: 33.333333%;
}
.price-table__content td img {
  position: absolute;
  right: 7%;
  top: 29%;
}
@media (min-width: 700px) {
  .price-table__content {
    width: 100%;
  }
  .price-table__content td {
    width: 25%;
  }
  .price-table__content td img {
    right: 40%;
  }
}
.price-table__row-1 {
  background: #283645;
  color: #fff;
  text-align: center;
}
.price-table__row-1 .price-table__col-1 {
  background: #f2f2f2;
  border: none;
  border-top: 1px solid #f2f2f2;
}
.price-table__row-1 .price-table__col-3 {
  position: relative;
  overflow: hidden;
}
.price-table__row-1 .price-table__col-3::before {
  position: absolute;
  content: "ХИТ";
  left: -30px;
  top: 10px;
  font-size: 14px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #d22856;
  width: 110px;
  height: 32px;
  padding-top: 4px;
  font-weight: 600;
}
.price-table__col-1 {
  display: none;
}
@media (min-width: 700px) {
  .price-table__col-1 {
    display: table-cell;
    text-transform: capitalize;
  }
}
@media (min-width: 1200px) {
  .price-table__col-1 {
    font-size: 18px;
  }
}
@media (min-width: 700px) {
  .price-table__row-2 .price-table__col-2,
  .price-table__row-3 .price-table__col-2,
  .price-table__row-4 .price-table__col-2,
  .price-table__row-2 .price-table__col-3,
  .price-table__row-3 .price-table__col-3,
  .price-table__row-4 .price-table__col-3,
  .price-table__row-2 .price-table__col-4,
  .price-table__row-3 .price-table__col-4,
  .price-table__row-4 .price-table__col-4 {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
  }
}
.page-footer {
  text-align: center;
  font-size: 24px;
}
.page-footer__heading {
  margin: 50px 0;
}
@media (min-width: 700px) {
  .page-footer__heading {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .page-footer__heading {
    font-size: 50px;
  }
}
.page-footer__contacts {
  min-height: 292px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 700px) {
  .page-footer__contacts {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .page-footer__contacts {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    min-height: 110px;
  }
}
.page-footer__contact:nth-child(2) {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
.page-footer__contact p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.page-footer__contact a {
  text-decoration: none;
  color: #d22856;
  display: inline-block;
  margin-bottom: 20px;
}
.page-footer__contact a:hover {
  color: #283645;
  text-decoration: underline;
}
.page-footer__contact a:active {
  color: #ced0d2;
}
.page-footer__contact address {
  color: #d22856;
  font-style: normal;
}
@media (min-width: 700px) {
  .page-footer__contact {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .page-footer__contact:nth-child(2) {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
}
.page-footer__bottom {
  min-height: 130px;
  display: none;
}
@media (min-width: 700px) {
  .page-footer__bottom {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.page-footer__logo {
  background: url(../img/footer-logo-1.png);
  width: 145px;
  height: 40px;
  margin-bottom: 8px;
}
.page-footer__logo:hover {
  background: url(../img/footer-logo-1-hover.png);
}
.page-footer__logo:active {
  background: url(../img/footer-logo-1-active.png);
}
@media (min-width: 1200px) {
  .page-footer__logo {
    background: url(../img/footer-logo-2.png);
  }
}
.page-footer__social {
  width: 180px;
  height: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-footer__icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  padding-top: 3px;
  padding-left: 2px;
  fill: #d22856;
}
.page-footer__icon:hover {
  border: 3px solid #283645;
}
.page-footer__icon:active {
  border: 3px solid #f2f2f2;
  fill: #f1becc;
}
.page-footer__copyright {
  font-size: 14px;
}
.page-footer__copyright a {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
}
.page-footer__copyright a svg {
  margin-top: 10px;
  fill: #d22856;
}
.page-footer__copyright a svg:hover {
  fill: #283645;
}
.page-footer__copyright a svg:active {
  fill: #ced0d2;
}
@media (min-width: 700px) {
  .page-footer__copyright {
    font-size: 18px;
  }
}
.google-map {
  min-height: 200px;
  background: url(../img/footer-map-xs.jpg) 40% 50% no-repeat;
  position: relative;
  overflow: hidden;
}
.google-map::before {
  content: "";
  position: absolute;
  width: 50.1%;
  height: 130px;
  background: #fff;
  top: -110px;
  left: 0;
  z-index: 5;
  -webkit-transform: skewY(6deg);
      -ms-transform: skewY(6deg);
          transform: skewY(6deg);
}
@media (min-width: 700px) {
  .google-map::before {
    top: -70px;
  }
}
.google-map::after {
  content: "";
  position: absolute;
  width: 50.1%;
  height: 130px;
  background: #fff;
  top: -110px;
  right: 0;
  z-index: 5;
  -webkit-transform: skewY(-6deg);
      -ms-transform: skewY(-6deg);
          transform: skewY(-6deg);
}
@media (min-width: 700px) {
  .google-map::after {
    top: -70px;
  }
}
@media (min-width: 700px) {
  .google-map {
    background: url(../img/footer-map-sm.jpg) center center no-repeat;
    min-height: 380px;
  }
}
@media (min-width: 1200px) {
  .google-map {
    background: url(../img/footer-map-md.jpg) center center no-repeat;
    min-height: 520px;
  }
}

/*# sourceMappingURL=styles.css.map */